.rightSectionMain{
    /* background-color: black; */
    width: 30%;
}
.rightSectionHeading{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 5vh;
}
/* ********PAYMENT HISTORY SECTION STARTS HERE***** */
.paymentMainCard{
    /* background-color: blue; */
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    border: grey 2px solid;
}
.paymentPadding{
    margin-left: 15px;
    width: 80%;
}
.paymentCard{
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    /* justify-content: space-between; */
}
.paymentDisplay{
    display: flex;
    justify-content: space-between;
}
.paymentDisplayGrey{
    display: flex;
    justify-content: space-between;
    color: grey;
    font-size: smaller;
}
.negativeSpan{
    color: red;
}
.positiveSpan{
    color: rgb(93, 158, 93);
}
/* ******RECENT REVIEWS SECTION STARTS HERE******* */
.reviewCard{
    background-color: pink; 
    border-radius: 10px;
    padding: 10px;
}
.reviewContact img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.starReview{
    display: flex;
    justify-content: space-around;
    padding-bottom: 7px;
}
.reviewContact{
    display: flex;
    padding-bottom: 10px;
   
}
.reviewUser{
    padding-top: 5px;
    padding-left: 10px;
}